@model QLyCaoOc.Models.PHONG

@{
    ViewBag.Title = "Suaphong";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 style="text-align:center">THAY ĐỔI THÔNG TIN PHÒNG</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" >
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaPHG)

        <div class="form-group">
            <p class="control-label col-md-2">TÊN PHÒNG :</p>
            <div class="col-md-10" style="width:200px">
                @Html.EditorFor(model => model.TenPHG, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenPHG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">TẦNG :</p>
            <div class="col-md-10" style="width:200px">
                @Html.DropDownList("Tang", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Tang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">DIỆN TÍCH :</p>
            <div class="col-md-10" style="width:200px">
                @Html.DropDownList("DienTich", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DienTich, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại trang trước", "Index")
</div>
