@model QLyCaoOc.Models.PHONG

@{
    ViewBag.Title = "Xoaphong";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>XÓA PHÒNG</h2>

<h3 style="text-align:center">BẠN CÓ MUỐN XÓA PHÒNG NÀY ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal" style="font-size:large;">

        <dt class="control-label col-md-2">
            TÊN PHÒNG :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenPHG)
        </dd>

        <dt class="control-label col-md-2">
            TẦNG :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TANG1.Tang1)
        </dd>

        <dt class="control-label col-md-2">
            DIỆN TICH :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TANG1.DienTich)
        </dd>

        <dt class="control-label col-md-2">
            GIÁ :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TANG1.Gia)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="XÓA" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại trang trước", "Index")
        </div>
    }
</div>
