@model IEnumerable<QLyCaoOc.Models.NHANVIEN>
@using QLyCaoOc.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h1 style="text-align:center"> QUẢN LÝ NHÂN VIÊN </h1>
<p>
    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("ThemNhanVien","Employee")'">Thêm Mới</button>
</p>
<table id="dynamic-table" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Mã nhân viên
            </th> 
            <th>
                Tên nhân viên
            </th>
            <th>
                Địa chỉ
            </th>

            <th>
                Chức vụ
            </th>
            <th>
                Mã công ty
            </th>
            <th>
                Mã phòng
            </th>
            <th></th>
        </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaNV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenNV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChiNV)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ChucVu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CONGTY.MaCongTy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PHONG.MaPHG)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "SuaNV", new { id = item.MaNV }) |
                    @Html.ActionLink("Chi tiết", "ChiTietNV", new { id = item.MaNV }) |
                    @Html.ActionLink("Xóa", "XoaNV", new { id = item.MaNV })
                </td>
            </tr>
        }

</table>
